<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/43362227b1.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="stylesheets/profile.css" />
    <script defer src="javascripts/profile.js"></script>
  </head>
  <body>
    <div id="main-body">
      <nav id="profile-nav">
        <!-- <a class="icona" href="#"><img id="icon" src="images/icon.png" alt=""></a> -->
        <a id="icona" href="#"><i class="bx bx-map-pin"></i></a>

        <div class="nav">
          <a id="home" class="active bgc mob" href="#">Home</a>
          <a id="explore" class="bgc" href="#">Explore</a>
          <a id="create" class="bgc" href="#">Create</a>
        </div>
        <form>
          <i id="search-icon" class="fa-solid fa-magnifying-glass mob"></i>
          <!-- <div class="search-con"></div> -->

          <input id="searchbar" placeholder="Search" type="text" />
        </form>

        <a id="notification" href=""><i class="bx bxs-bell"></i></a>
        <a id="msgs" href="#"
          ><i id="msg-icon" class="fa-solid fa-comment-dots mob"></i
        ></a>
        <a id="profile" class="mob" href=""><p id="pro-name-up">IK</p></a>
        <a id="drop-down" href=""
          ><i id="down-icon" class="bx bx-chevron-down"></i
        ></a>
      </nav>

      <nav id="profile-nav-mob">
        <!-- <a class="icona" href="#"><img id="icon" src="images/icon.png" alt=""></a> -->
        <a id="mob-home" class="mob" href="#"
          ><i class="bx bx-home-alt-2"></i
        ></a>
        <a class="mob" href="#"
          ><i class="fa-solid fa-magnifying-glass mob"></i>
        </a>
        <a href="#"
          ><i id="msg-icon" class="fa-solid fa-comment-dots mob"></i
        ></a>
        <a class="mob" href=""><p id="pro-name">IK</p></a>
      </nav>

      <div class="main-container">
        <div class="inner-main">
          <div class="img-card" id="img-card-first">
            <div class="imgdiv"><img src="images/12.jpg" alt="" /></div>
            <!-- <p>Title</p> -->
            <p>Profile</p>
          </div>

          <div class="img-card">
            <div class="imgdiv"><img src="images/1.jpg" alt="" /></div>
            <!-- <p>Title</p> -->
            <p>Profile</p>
          </div>

          <div class="img-card">
            <div class="imgdiv"><img src="images/2.jpg" alt="" /></div>
            <!-- <p>Title</p> -->
            <p>Profile</p>
          </div>

          <div class="img-card">
            <div class="imgdiv"><img src="images/3.jpg" alt="" /></div>
            <!-- <p>Title</p> -->
            <p>Profile</p>
          </div>

          <div class="img-card">
            <div class="imgdiv"><img src="images/4.jpg" alt="" /></div>
            <!-- <p>Title</p> -->
            <p>Profile</p>
          </div>

          <div class="img-card">
            <div class="imgdiv"><img src="images/5.jpg" alt="" /></div>
            <!-- <p>Title</p> -->
            <p>Profile</p>
          </div>
          <div class="img-card">
            <div class="imgdiv"><img src="images/6.jpg" alt="" /></div>
            <!-- <p>Title</p> -->
            <p>Profile</p>
          </div>
          <div class="img-card">
            <div class="imgdiv"><img src="images/7.jpg" alt="" /></div>
            <!-- <p>Title</p> -->
            <p>Profile</p>
          </div>

          <div class="img-card">
            <div class="imgdiv"><img src="images/8.jpg" alt="" /></div>
            <!-- <p>Title</p> -->
            <p>Profile</p>
          </div>
          <div class="img-card">
            <div class="imgdiv"><img src="images/9.jpg" alt="" /></div>
            <!-- <p>Title</p> -->
            <p>Profile</p>
          </div>
          <div class="img-card">
            <div class="imgdiv"><img src="images/10.jpg" alt="" /></div>
            <!-- <p>Title</p> -->
            <p>Profile</p>
          </div>
          <div class="img-card">
            <div class="imgdiv"><img src="images/11.jpg" alt="" /></div>
            <!-- <p>Title</p> -->
            <p>Profile</p>
          </div>
          <div class="img-card">
            <div class="imgdiv"><img src="images/12.jpg" alt="" /></div>
            <!-- <p>Title</p> -->
            <p>Profile</p>
          </div>
          <div class="img-card">
            <div class="imgdiv"><img src="images/13.jpg" alt="" /></div>
            <!-- <p>Title</p> -->
            <p>Profile</p>
          </div>
          <div class="img-card">
            <div class="imgdiv"><img src="images/14.jpg" alt="" /></div>
            <!-- <p>Title</p> -->
            <p>Profile</p>
          </div>
          <div class="img-card">
            <div class="imgdiv"><img src="images/15.jpg" alt="" /></div>
            <!-- <p>Title</p> -->
            <p>Profile</p>
          </div>
          <div class="img-card">
            <div class="imgdiv">
              <img src="images/16.jpg" alt="this is a image" />
            </div>
            <!-- <p>Title</p> -->
            <p>Profile</p>
          </div>
          <div class="img-card">
            <div class="imgdiv">
              <img src="images/17.jpg" alt="this is a image" />
            </div>
            <!-- <p>Title</p> -->
            <p>Profile</p>
          </div>
          <div class="img-card">
            <div class="imgdiv">
              <img src="images/18.jpg" alt="this is a image" />
            </div>
            <!-- <p>Title</p> -->
            <p>Profile</p>
          </div>
          <div class="img-card">
            <div class="imgdiv">
              <img src="images/19.jpg" alt="this is a image" />
            </div>
            <!-- <p>Title</p> -->
            <p>Profile</p>
          </div>
          <div class="img-card">
            <div class="imgdiv">
              <img src="images/20.jpg" alt="this is a image" />
            </div>
            <!-- <p>Title</p> -->
            <p>Profile</p>
          </div>
          <div class="img-card">
            <div class="imgdiv">
              <img src="images/21.jpg" alt="this is a image" />
            </div>
            <!-- <p>Title</p> -->
            <p>Profile</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
